@import '../globals/colors';

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

.btn {
  $borderSize: 1.5px;
  $buttonColor: $pc-1;

  align-items: center;
  background-color: inherit;
  border: $borderSize solid transparent;
  border-radius: 20px;
  cursor: pointer;

  display: flex;
  margin: 0;

  padding: 8px 18px;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: darken($link-color, 95%);
  }

  &:visited {
    text-decoration: none;
  }

  &.btn-1 {
    background-color: $buttonColor;
    transition: all .2s ease-in-out;
    &:hover, &:focus {
      background-color: darken($buttonColor, 5%);
    }
  }

  &.btn-2 {
    border: $borderSize solid $buttonColor;
    transition: all .2s ease-in-out;
    &:hover, &:focus {
      border: $borderSize solid darken($buttonColor, 15%);
    }
  }

  &.btn-3 {
    transition: border 0.2s ease-in-out;
    &:hover, &:focus {
      border: $borderSize solid $buttonColor;
    }
  }
}
