@import 'values';


$themes: (
  cool: (
    bg-1: hsl(200, 33%, 96%),
    bg-2: hsl(200, 25%, 91%),
    bg-3: hsl(200, 25%, 84%),
    bg-4: hsl(200, 25%, 76%),

    text-1: hsl(200, 16%, 16%),
    text-2: hsl(200, 31%, 14%)
  ),
  neutral: (
    bg-1: hsl(0, 0%, 95%),
    bg-2: hsl(0, 0%, 90%),
    bg-3: hsl(0, 0%, 86%),
    bg-4: hsl(0, 0%, 82%),
    bg-5: hsl(0, 0%, 78%),

    text-1: hsl(0, 0%, 12%),
    text-2: hsl(0, 0%, 23%)
  ),
  warm: (
    bg-1: hsl(24, 20%, 95%),
    bg-2: hsl(24, 21%, 93%),
    bg-3: hsl(24, 9%, 82%),
    bg-4: hsl(24, 9%, 74%),

    text-1: hsl(24, 12%, 30%),
    text-2: hsl(24, 24%, 11%)
  )
);

$theme: map-get($themes, neutral);

$pc-1: #9aa9f1;

$bg-0: #fff;
$bg-1: map_get($theme, bg-1);
$bg-2: map_get($theme, bg-2);
$bg-3: map_get($theme, bg-3);
$bg-4: map_get($theme, bg-4);
$bg-5: map_get($theme, bg-5);

$text-1: map_get($theme, text-1);
$text-2: map_get($theme, text-2);

$link-color: transparentize($text-1, $text-transparency);
