@import "../../../../styles/globals/all";

$iconColor: darken($grey-5, 30%);
$borderRadius: 8px;

.positioningContainer {
  position: relative;
}

.multiSelectionHeader {
  $height: 55px;
  width: 260px;
  height: $height;

  position: absolute;
  top: -$height;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: $grey-0;
  border-radius: $borderRadius $borderRadius 0 0;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container {
  width: 570px;
  margin: 120px auto 0;
  border-radius: $borderRadius;

  overflow: hidden;
}

$headerBg: $grey-2;
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: $borderRadius $borderRadius 0 0;
  padding-bottom: 12px;
  padding-left: 12px;

  background-color: $headerBg;

  .headerTop {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerRight {
    margin-left: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.content {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 240px;
  padding: 18px;
  background-color: $grey-0;
}

.footerContainer {
  padding: 0 12px 12px 12px;
  background-color: $grey-2;

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 12px;
  }
}

.fileName {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);

  width: 250px;
  max-width: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: lighter;
  font-style: italic;
  letter-spacing: 0.4px;

  overflow: hidden;
  text-overflow: ellipsis;
}


$inputWidth: 325px;
.nameInputContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .nameInput {
    @include transition(background-color, 0.1s);
    width: $inputWidth;
    height: 36px;

    padding: 4px 8px;
    border: 0;
    border-radius: 3px;
    background-color: $headerBg;

    font-size: 20px;
    line-height: 32px;

    &::placeholder {
      font-style: italic;
      font-weight: normal;
    }

    &:focus {
      background-color: $grey-0;
    }
  }

  .nameInputIcon {
    $size: 28px;
    width: $size;
    height: $size;

    margin-right: 8px;

    //position: relative;
    //top: -2px;

    color: $iconColor;
    cursor: pointer;

    @include transition(color);

    &:hover {
      color: darken($iconColor, 15%);
    }
  }
}

.formReset {
  $linkColor: hsla(230, 75%, 66%, 0.7);

  position: relative;
  top: -1px;

  margin-right: 8px;
  border: 0;

  border-bottom: 1px solid lighten($linkColor, 10%);
  background-color: inherit;
  color: $linkColor;
  cursor: pointer;
}

.closeIcon {
  $size: 36px;
  width: $size;
  height: $size;
  color: $iconColor;
  cursor: pointer;

  &:hover {
    color: darken($iconColor, 15%);
  }
}



.button {
  cursor: pointer;

  padding: 12px 16px;
  border: 0;
  margin-right: 8px;
  border-radius: 8px;
  outline: none;
}

.submitButton {
  background-color: $green-4;
  color: $green-7;

  &:active {
    box-shadow: inset 0 2px 8px 0 darken($green-4, 20%);
  }
}

.cancelButton {
  background-color: $red-2;
  color: $red-7;

  &:active {
    box-shadow: inset 0 2px 8px 0 $red-7;
    //color: darken($gray-9, .2);
  }
}

.secondaryButton {
  background-color: inherit;
  color: $grey-9;

  &:active {
    box-shadow: inset 0 2px 8px 0 $grey-5;
    //color: darken($gray-9, .2);
  }
}
