@import "../../../styles/globals/all";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;

  background-color: $grey-2;
}

.content {
  padding: 24px;
}

.backButton {
  display: inline-block;
  & button {
    align-items: center;
    cursor: pointer;

    display: flex;
    justify-content: center;
    padding: 2px 3px;
  }
}

.userText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.datasetInfo {
  align-items: center;
  display: flex;
  flex-direction: column;

  line-height: 1.15;

  .datasetName {
    font-size: larger;
    font-weight: bold;
  }

  .datasetFilename {
    font-weight: lighter;
  }
}
