@import "../../../styles/globals/all";

.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  //background-color: $bg-2;
  //border-bottom: 1px solid $bg-2;
}

.button {
  position: absolute;

  & .buttonIcon {
    position: relative;
    top: -1px;
    margin-right: 6px;
  }
}

.content {
  flex-grow: 1;

  display: flex;
  //padding: 0 20px 20px;
}

.table {
  flex-grow: 1;

  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 2px 8px 0 $bg-3;
}

.svg {
  background-color: lightgreen;
  // TODO: Apply only to lines.
  & line, path {
    //shape-rendering: crispEdges;
  }
}
