@import "../../../styles/globals/all";

.header {
  background-color: $bg-2;

  & th {
    height: 45px;

    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
}

.row {
  border-bottom: 1px solid $bg-3;
  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $bg-1;
  }
}

.col {
  padding: 10px 14px;
}

.controlCol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.datasetColTd {
  width: 300px;
  max-width: 300px;
}

.datasetCol {
  display: flex;
  align-items: center;
  //background-color: lightblue;

  overflow: hidden;
  white-space: nowrap;

  .datasetColCheckbox {
    display: inline-block;
  }
  .datasetColExpander {
    display: inline-block;
  }
  .datasetColDetails {
    margin-left: 15px;
    display: inline-block;
    line-height: 1.15;

    .datasetColName {
      font-weight: bold;
      font-size: larger;
    }

    .datasetColFilename {
      font-weight: lighter;

      width: 220px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.infoCol {
}

.queryCol {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.distributionCol {
  text-align: center;
}
