@import "../../styles/globals/all";

.iconButton {
  $iconColor: hsla(0, 0%, 45%, 1);
  color: $iconColor;

  cursor: pointer;
  display: inline-block;
  @include transition(color);

  &:hover {
    color: darken($iconColor, 35%);
  }
}
