*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited, a:link {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button {
  color: inherit;
}

th {
  font-weight: initial;
}
