@import "./globals/all";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:visited,
a:link {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button {
  color: inherit;
}

th {
  font-weight: initial;
}

hr {
  width: 100%;

  margin: 0;
  padding: 0;

  border-style: inherit;
  border-bottom: 1px solid $grey-5;
}

ul {
  margin-left: 20px;
}
