@import "reset";

@import "globals/all";
@import "components/all";

html {
  min-height: 100%;
  min-width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  width: 100%;
}

// Some of these values are probably unnecessary.
#root {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  //max-width: 100%;
}

body {
  background-color: $grey-2;

  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: $link-color;

  &:focus {
    outline: 1px solid $pc-1;
  }
}
